<!doctype html>

<html class="no-js" lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contacto -</title>

    <meta name="description" content="Educleta es líder en seguridad vial" />
    <link rel="canonical" href="http://www.educleta.cl/" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Educleta -" />
    <meta property="og:description" content="Educleta es líder en seguridad vial" />
    <meta property="og:url" content="http://www.educleta.cl/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Educleta es líder en seguridad vial" />
    <meta name="twitter:title" content="Educleta -" />
    <meta name="twitter:site" content="@EducletaChile" />
    <meta name="twitter:creator" content="@andresantelices" />
    <script type='application/ld+json'
        class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://www.educleta.cl/#organization","name":"Educleta","url":"http://www.educleta.cl/","sameAs":["https://de-de.facebook.com/pages/category/Education/Educleta-267530389943085/","https://www.instagram.com/educletachile/","https://www.youtube.com/user/Educleta","https://twitter.com/EducletaChile"],"logo":{"@type":"ImageObject","@id":"http://www.educleta.cl/#logo","url":"http://www.educleta.cl/wp-content/uploads/2018/04/LOGO-Educleta-2017.jpg","width":1650,"height":1275,"caption":"Educleta"},"image":{"@id":"http://www.educleta.cl/#logo"}},{"@type":"WebSite","@id":"http://www.educleta.cl/#website","url":"http://www.educleta.cl/","name":"Educleta","publisher":{"@id":"http://www.educleta.cl/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://www.educleta.cl/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://www.educleta.cl/#webpage","url":"http://www.educleta.cl/","inLanguage":"es-CL","name":"Educleta -","isPartOf":{"@id":"http://www.educleta.cl/#website"},"about":{"@id":"http://www.educleta.cl/#organization"},"datePublished":"2018-04-11T09:38:03+00:00","dateModified":"2020-01-06T17:32:51+00:00","description":"Educleta es l\u00edder en seguridad vial"}]}</script>


    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.educleta.cl/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed de comentarios"
        href="http://www.educleta.cl/?feed=comments-rss2" />

    <!--CSS-->
    <link rel='stylesheet' id='wtfdivi-user-css-css' href='' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-icons-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-fonts-css'
        href='//fonts.googleapis.com/css?family=Lora%3A400%2C400italic%2C700%2C700italic%7CMontserrat%3A400%2C700%7CMaven+Pro%3A400%2C700&#038;ver=4.9.18'
        type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css-css' href='../css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-style-css' href='../css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='../js/js_composer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wpforms-full-css' href='../css/wpforms-full.css' type='text/css' media='all' />

    <!--JS-->
    <script type='text/javascript' src='../js/jquery.js'></script>
    <script type='text/javascript' src='../js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='../js/modernizr.min.js'></script>
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>
    <script type='text/javascript' src='../js/functions.min.js'></script>


    <link rel="icon" href="../img/cropped-FAV-32x32.png" sizes="32x32" />
    <link rel="icon" href="../img/cropped-FAV-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="../img/cropped-FAV-180x180.png" />
    <meta name="msapplication-TileImage" content="../img/cropped-FAV-270x270.png" />


    <style type="text/css" id="wp-custom-css">
        .page .entry-title {
            margin-bottom: 0px !important;
            display: none !important;
        }

        .main-content-area {
            margin-top: 0px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body
    class="page-template-default page page-id-322 wp-custom-logo desktop group-blog has-full-width wpb-js-composer js-comp-ver-5.5.4 vc_responsive">
    <div id="page" class="hfeed site">

        <header id="masthead" class="site-header" role="banner">
            <!--MENU-->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="site-navigation-inner col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu-mainmenu" class="nav navbar-nav">
                                    <li id="menu-item-644"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-644">
                                        <a title="Educleta" href="../views/index.ejs">Educleta</a>
                                    </li>
                                    <li id="menu-item-641"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641">
                                        <a title="Nosotros" href="../views/nosotros.ejs">Nosotros
                                        </a><span class="activello-dropdown"></span>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-755"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755">
                                                <a title="Misión y Visión" href="../views/mision_vision.ejs">Misión y
                                                    Visión</a>
                                            </li>
                                            <li id="menu-item-887"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887 ">
                                                <a title="Aliados" href="../views/aliados.ejs">Aliados</a>
                                            </li>
                                            <li id="menu-item-980"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980 ">
                                                <a title="Prensa" href="../views/prensa.ejs">Prensa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-642"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-642 ">
                                        <a title="Servicios" href="../views/servicios.ejs">Servicios</a>
                                    </li>
                                    <li id="menu-item-893"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893 ">
                                        <a title="Noticias" href="../views/noticias.ejs">Noticias</a>
                                    </li>
                                    <li id="menu-item-1038"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1038">
                                        <a title="Academia" href="../views/academia.ejs">Academia</a>
                                    </li>
                                    <li id="menu-item-640"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640 active">
                                        <a title="Contacto" href="../views/contacto.ejs">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                            <!--AUN NO SE AGREGARA
                    <div class="nav-search">
                        <form action="http://www.educleta.cl/" method="get"><input type="text" name="s" value=""
                                placeholder="Search"><button type="submit" class="header-search-icon"
                                name="submit" id="searchsubmit" value="Search"><i
                                    class="fa fa-search"></i></button></form>
                    </div>
                    -->
                        </div>
                    </div>
                </div>
            </nav>
            <!--MENU-->


            <div class="container">
                <div id="logo">
                    <span class="site-name">
                        <a href="http://www.educleta.cl/" class="custom-logo-link" rel="home" itemprop="url"><img
                                width="400" height="200" src="../img/logo_edu.png" class="custom-logo" alt=""
                                itemprop="logo" srcset="" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    </span>

                </div>

                <div id="line"></div>
            </div>

        </header>


        <div id="content" class="site-content">

            <div class="top-section">
            </div>

            <div class="container main-content-area">


                <div class="row">
                    <div class="main-content-inner col-sm-12 col-md-8 full-width">

                        <div id="primary" class="content-area">

                            <main id="main" class="site-main" role="main">




                                <div class="post-inner-content">
                                    <article id="post-322" class="post-322 page type-page status-publish hentry">
                                        <header class="entry-header page-header">
                                            <h1 class="entry-title">Contacto</h1>
                                        </header>

                                        <div class="entry-content">
                                            <div class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <h2 style="color: #c6c6c6;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal"
                                                                class="vc_custom_heading">¡Vive la Mejor Experiencia de
                                                                Movilidad de Tu Vida!</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-vc-full-width="true" data-vc-full-width-init="false"
                                                class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p style="text-align: center;">
                                                                    <div class="wpforms-container wpforms-container-full"
                                                                        id="wpforms-1016">
                                                                        <form id="wpforms-form-1016" class="wpforms-validate wpforms-form" data-formid="1016" method="post" enctype="multipart/form-data" action="/">
                                                                            <noscript
                                                                                class="wpforms-error-noscript">Please
                                                                                enable JavaScript in your browser to
                                                                                complete this form.</noscript>

                                                                            <div class="wpforms-field-container">
                                                                                <div id="wpforms-1016-field_0-container"
                                                                                    class="wpforms-field wpforms-field-name"
                                                                                    data-field-id="0"><label
                                                                                        class="wpforms-field-label"
                                                                                        for="wpforms-1016-field_0">Nombre
                                                                                        <span
                                                                                            class="wpforms-required-label">*</span></label>
                                                                                    <div
                                                                                        class="wpforms-field-row wpforms-field-medium">
                                                                                        <div
                                                                                            class="wpforms-field-row-block wpforms-first wpforms-one-half">
                                                                                            <input type="text"
                                                                                                id="wpforms-1016-field_0"
                                                                                                class="wpforms-field-name-first wpforms-field-required"
                                                                                                name="wpforms[fields][0][first]"
                                                                                                placeholder="Nombre"
                                                                                                required><label
                                                                                                for="wpforms-1016-field_0"
                                                                                                class="wpforms-field-sublabel after wpforms-sublabel-hide">First</label>
                                                                                        </div>
                                                                                        <div
                                                                                            class="wpforms-field-row-block wpforms-one-half">
                                                                                            <input type="text"
                                                                                                id="wpforms-1016-field_0-last"
                                                                                                class="wpforms-field-name-last wpforms-field-required"
                                                                                                name="wpforms[fields][0][last]"
                                                                                                placeholder="Apellido"
                                                                                                required><label
                                                                                                for="wpforms-1016-field_0-last"
                                                                                                class="wpforms-field-sublabel after wpforms-sublabel-hide">Last</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="wpforms-1016-field_1-container"
                                                                                    class="wpforms-field wpforms-field-email"
                                                                                    data-field-id="1"><label
                                                                                        class="wpforms-field-label"
                                                                                        for="wpforms-1016-field_1">Email
                                                                                        <span
                                                                                            class="wpforms-required-label">*</span></label><input
                                                                                        type="email"
                                                                                        id="wpforms-1016-field_1"
                                                                                        class="wpforms-field-medium wpforms-field-required"
                                                                                        name="wpforms[fields][1]"
                                                                                        required></div>
                                                                                <div id="wpforms-1016-field_2-container"
                                                                                    class="wpforms-field wpforms-field-textarea"
                                                                                    data-field-id="2"><label
                                                                                        class="wpforms-field-label"
                                                                                        for="wpforms-1016-field_2">Comentario
                                                                                        o Mensaje <span
                                                                                            class="wpforms-required-label">*</span></label><textarea
                                                                                        id="wpforms-1016-field_2"
                                                                                        class="wpforms-field-medium wpforms-field-required"
                                                                                        name="wpforms[fields][2]"
                                                                                        required></textarea></div>
                                                                            </div>
                                                                            <div class="wpforms-field wpforms-field-hp">
                                                                                <label for="wpforms-1016-field-hp"
                                                                                    class="wpforms-field-label">Comment</label><input
                                                                                    type="text" name="wpforms[hp]"
                                                                                    id="wpforms-1016-field-hp"
                                                                                    class="wpforms-field-medium">
                                                                            </div>
                                                                            <div class="wpforms-submit-container"><input
                                                                                    type="hidden" name="wpforms[id]"
                                                                                    value="1016"><input type="hidden"
                                                                                    name="wpforms[author]"
                                                                                    value="1"><input type="hidden"
                                                                                    name="wpforms[post_id]"
                                                                                    value="322"><button type="submit"
                                                                                    name="wpforms[submit]"
                                                                                    class="wpforms-submit "
                                                                                    id="wpforms-submit-1016"
                                                                                    value="wpforms-submit"
                                                                                    aria-live="assertive"
                                                                                    data-alt-text="Sending..."
                                                                                    data-submit-text="Enviar">Enviar</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    </p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row-full-width vc_clearfix"></div>
                                        </div>
                                    </article>
                                </div>



                            </main>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        <p>EDUCLETA</p>
                        <p>Contacto: <a href="mailto:educleta@gmail.com">
                                educleta@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
    </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($(window).width() >= 767) {
                $('.navbar-nav > li.menu-item > a').click(function () {
                    if ($(this).attr('target') !== '_blank') {
                        window.location = $(this).attr('href');
                    } else {
                        var win = window.open($(this).attr('href'), '_blank');
                        win.focus();
                    }
                });
            }
        });
    </script>


<link rel='stylesheet' id='db121_socicons-css' href='../css/icons.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc_google_fonts_montserratregular700-css'
    href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;ver=4.9.18' type='text/css'
    media='all' />
<script type='text/javascript' src='../js/skip-link-focus-fix.js'></script>
<script type='text/javascript' src='../js/flexslider.min.js'></script>
<script type='text/javascript' src='../js/js_composer_front.min.js'></script>


    <script type='text/javascript' src='../js/wp_footer.js'></script>
    <script type='text/javascript' src='../js/wp-embed.min.js'></script>

    <script type='text/javascript' src='../js/jquery.validate.min.js'></script>
    <script type='text/javascript' src='../js/mailcheck.min.js'></script>
    <script type='text/javascript' src='../js/wpforms.js'></script>
    
    <script type='text/javascript'>
       
        var wpforms_settings = { "val_required": "This field is required.", "val_url": "Please enter a valid URL.", "val_email": "Please enter a valid email address.", "val_email_suggestion": "Did you mean {suggestion}?", "val_email_suggestion_title": "Click to accept this suggestion.", "val_number": "Please enter a valid number.", "val_confirm": "Field values do not match.", "val_fileextension": "File type is not allowed.", "val_filesize": "File exceeds max size allowed. File was not uploaded.", "val_time12h": "Please enter time in 12-hour AM\/PM format (eg 8:45 AM).", "val_time24h": "Please enter time in 24-hour format (eg 22:45).", "val_requiredpayment": "Payment is required.", "val_creditcard": "Please enter a valid credit card number.", "val_smart_phone": "Please enter a valid phone number.", "val_post_max_size": "The total size of the selected files {totalSize} Mb exceeds the allowed limit {maxSize} Mb.", "val_checklimit": "You have exceeded the number of allowed selections: {#}.", "val_limit_characters": "{count} of {limit} max characters.", "val_limit_words": "{count} of {limit} max words.", "val_recaptcha_fail_msg": "Google reCAPTCHA verification failed, please try again later.", "post_max_size": "20971520", "uuid_cookie": "", "locale": "es", "wpforms_plugin_url": "http:\/\/www.educleta.cl\/wp-content\/plugins\/wpforms-lite\/", "gdpr": "", "ajaxurl": "http:\/\/www.educleta.cl\/wp-admin\/admin-ajax.php", "mailcheck_enabled": "1", "mailcheck_domains": [], "mailcheck_toplevel_domains": ["dev"] }

    </script>

</body>

</html>