<html class="no-js" lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Educleta -</title>

</head>

<body
    class="home page-template-default page page-id-90 wp-custom-logo desktop group-blog has-full-width wpb-js-composer js-comp-ver-5.5.4 vc_responsive">
    <div id="page" class="hfeed site">

        <header id="masthead" class="site-header" role="banner">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="site-navigation-inner col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu-mainmenu" class="nav navbar-nav">
                                    <li id="menu-item-644"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-644 active">
                                        <a title="Educleta" href="/">Educleta</a>
                                    </li>
                                    <li id="menu-item-641"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641">
                                        <a title="Nosotros" href="./nosotros">Nosotros
                                        </a><span class="activello-dropdown"></span>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-755"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755">
                                                <a title="Misión y Visión"
                                                    href="/mision_vision">Misión y Visión</a>
                                            </li>
                                            <li id="menu-item-887"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887">
                                                <a title="Aliados"
                                                    href="/aliados">Aliados</a>
                                            </li>
                                            <li id="menu-item-980"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
                                                <a title="Prensa" href="/prensa">Prensa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-642"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-642">
                                        <a title="Servicios" href="/servicios">Servicios</a>
                                    </li>
                                    <li id="menu-item-893"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893">
                                        <a title="Noticias" href="/noticias">Noticias</a>
                                    </li>
                                    <li id="menu-item-1038"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1038">
                                        <a title="Academia" href="academia">Academia</a>
                                    </li>
                                    <li id="menu-item-640"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
                                        <a title="Contacto" href="contacto">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                            <!--AUN NO SE AGREGARA
                            <div class="nav-search">
                                <form action="http://www.educleta.cl/" method="get"><input type="text" name="s" value=""
                                        placeholder="Search"><button type="submit" class="header-search-icon"
                                        name="submit" id="searchsubmit" value="Search"><i
                                            class="fa fa-search"></i></button></form>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </nav><!-- .site-navigation -->


            <div class="container">
                <div id="logo">
                    <span class="site-name">
                        <a href="http://www.educleta.cl/" class="custom-logo-link" rel="home" itemprop="url"><img
                                width="400" height="200"
                                src="http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu.png" class="custom-logo"
                                alt="" itemprop="logo"
                                srcset="http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu.png 400w, http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu-300x150.png 300w"
                                sizes="(max-width: 400px) 100vw, 400px" /></a>
                    </span><!-- end of .site-name -->

                </div><!-- end of #logo -->

                <div id="line"></div>
            </div>

        </header><!-- #masthead -->


        <div id="content" class="site-content">

            <div class="top-section">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img width="413" height="550"
                                src="http://www.educleta.cl/wp-content/uploads/2018/12/IMG_3487-e1546290812608.jpeg"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt=""
                                srcset="http://www.educleta.cl/wp-content/uploads/2018/12/IMG_3487-e1546290812608.jpeg 3024w, http://www.educleta.cl/wp-content/uploads/2018/12/IMG_3487-e1546290812608-225x300.jpeg 225w, http://www.educleta.cl/wp-content/uploads/2018/12/IMG_3487-e1546290812608-768x1024.jpeg 768w, http://www.educleta.cl/wp-content/uploads/2018/12/IMG_3487-e1546290812608-1080x1440.jpeg 1080w"
                                sizes="(max-width: 413px) 100vw, 413px" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="http://www.educleta.cl/?cat=11" rel="category">Noticias</a></li>
                                </ul><a href="http://www.educleta.cl/?p=839">
                                    <h2 class="entry-title">Educleta premio Destacado del Deporte 2018</h2>
                                </a>
                                <div class="read-more"><a href="http://www.educleta.cl/?p=839">Read More</a></div>
                            </div>
                        </li>
                        <li><img width="1300" height="550"
                                src="http://www.educleta.cl/wp-content/uploads/2018/12/p1-1300x550.png"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt="" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="http://www.educleta.cl/?cat=11" rel="category">Noticias</a></li>
                                </ul><a href="http://www.educleta.cl/?p=836">
                                    <h2 class="entry-title">Educleta y Gobierno Metropolitano implementarán Ruta Segura
                                        en 2019</h2>
                                </a>
                                <div class="read-more"><a href="http://www.educleta.cl/?p=836">Read More</a></div>
                            </div>
                        </li>
                        <li><img width="843" height="550"
                                src="http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935.jpeg"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt=""
                                srcset="http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935.jpeg 2048w, http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935-300x196.jpeg 300w, http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935-768x501.jpeg 768w, http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935-1024x668.jpeg 1024w, http://www.educleta.cl/wp-content/uploads/2018/11/IMG_0935-1080x705.jpeg 1080w"
                                sizes="(max-width: 843px) 100vw, 843px" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="http://www.educleta.cl/?cat=11" rel="category">Noticias</a></li>
                                </ul><a href="http://www.educleta.cl/?p=829">
                                    <h2 class="entry-title">Educleta presentó en Tailandia su aporte a la seguridad vial
                                    </h2>
                                </a>
                                <div class="read-more"><a href="http://www.educleta.cl/?p=829">Read More</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container main-content-area">


                <div class="row">
                    <div class="main-content-inner col-sm-12 col-md-8 full-width">

                        <div id="primary" class="content-area">

                            <main id="main" class="site-main" role="main">




                                <div class="post-inner-content">
                                    <article id="post-90" class="post-90 page type-page status-publish hentry">
                                        <header class="entry-header page-header">
                                            <h1 class="entry-title">Educleta</h1>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <div data-vc-full-width="true" data-vc-full-width-init="false"
                                                class="vc_row wpb_row vc_row-fluid vc_custom_1578331969019 vc_row-has-fill">
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="vc_empty_space" style="height: 52px"><span
                                                                    class="vc_empty_space_inner"></span></div>
                                                            <h2 style="font-size: 16px;color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal"
                                                                class="vc_custom_heading">Educleta nace en el año 2010
                                                                como un proyecto de título de magister en comunicación y
                                                                educación que tuvo como principal objetivo fomentar la
                                                                sensibilización y valorización del uso seguro de la
                                                                bicicleta a través de talleres y jornadas educacionales.
                                                                En el año 2014, Educleta se convirtió en una
                                                                organización dedicada a fomentar la formación cívico
                                                                vial en establecimientos educacionales, empresas y
                                                                comunidades mediante diversos servicios y actividades.
                                                                </p>
                                                                <p>Actualmente, junto a instituciones públicas y
                                                                    privadas desarrollamos programas educacionales que
                                                                    fomenten la movilidad segura, sustentable e
                                                                    inclusiva.
                                                            </h2>
                                                            <h2 style="font-size: 16px;color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal"
                                                                class="vc_custom_heading">La ONG líder e innovadora en
                                                                desarrollar programas educacionales de convivencia vial
                                                                y movilidad urbana activa, segura, sustentable e
                                                                inclusiva.</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div
                                                                class="wpb_single_image wpb_content_element vc_align_left">

                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div
                                                                        class="vc_single_image-wrapper   vc_box_border_grey">
                                                                        <img width="1198" height="1124"
                                                                            src="http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018.png"
                                                                            class="vc_single_image-img attachment-full"
                                                                            alt="educleta-salon-de-la-bicicleta-2018"
                                                                            srcset="http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018.png 1198w, http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018-300x281.png 300w, http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018-768x721.png 768w, http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018-1024x961.png 1024w, http://www.educleta.cl/wp-content/uploads/2018/09/educleta-salon-de-la-bicicleta-2018-1080x1013.png 1080w"
                                                                            sizes="(max-width: 1198px) 100vw, 1198px" />
                                                                    </div>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row-full-width vc_clearfix"></div>
                                        </div><!-- .entry-content -->
                                    </article><!-- #post-## -->
                                </div>



                            </main><!-- #main -->
                        </div><!-- #primary -->

                    </div>

                </div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
            </div><!-- close .row -->
        </div><!-- close .container -->
    </div><!-- close .site-content -->

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        <p>EDUCLETA</p>
                        <p>Contacto: <a href="mailto:educleta@gmail.com">
                                educleta@gmail.com</a>.</p>
                    </div>
                </div>
            </div><!-- .site-info -->
            <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>
    </div><!-- #page -->

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($(window).width() >= 767) {
                $('.navbar-nav > li.menu-item > a').click(function () {
                    if ($(this).attr('target') !== '_blank') {
                        window.location = $(this).attr('href');
                    } else {
                        var win = window.open($(this).attr('href'), '_blank');
                        win.focus();
                    }
                });
            }
        });
    </script>











    
</body>

</html>