<!doctype html>

<html class="no-js" lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Blog -</title>


    <meta name="description" content="Educleta es líder en seguridad vial" />
    <link rel="canonical" href="http://www.educleta.cl/" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Educleta -" />
    <meta property="og:description" content="Educleta es líder en seguridad vial" />
    <meta property="og:url" content="http://www.educleta.cl/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Educleta es líder en seguridad vial" />
    <meta name="twitter:title" content="Educleta -" />
    <meta name="twitter:site" content="@EducletaChile" />
    <meta name="twitter:creator" content="@andresantelices" />
    <script type='application/ld+json'
        class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://www.educleta.cl/#organization","name":"Educleta","url":"http://www.educleta.cl/","sameAs":["https://de-de.facebook.com/pages/category/Education/Educleta-267530389943085/","https://www.instagram.com/educletachile/","https://www.youtube.com/user/Educleta","https://twitter.com/EducletaChile"],"logo":{"@type":"ImageObject","@id":"http://www.educleta.cl/#logo","url":"http://www.educleta.cl/wp-content/uploads/2018/04/LOGO-Educleta-2017.jpg","width":1650,"height":1275,"caption":"Educleta"},"image":{"@id":"http://www.educleta.cl/#logo"}},{"@type":"WebSite","@id":"http://www.educleta.cl/#website","url":"http://www.educleta.cl/","name":"Educleta","publisher":{"@id":"http://www.educleta.cl/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://www.educleta.cl/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://www.educleta.cl/#webpage","url":"http://www.educleta.cl/","inLanguage":"es-CL","name":"Educleta -","isPartOf":{"@id":"http://www.educleta.cl/#website"},"about":{"@id":"http://www.educleta.cl/#organization"},"datePublished":"2018-04-11T09:38:03+00:00","dateModified":"2020-01-06T17:32:51+00:00","description":"Educleta es l\u00edder en seguridad vial"}]}</script>


    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.educleta.cl/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed de comentarios"
        href="http://www.educleta.cl/?feed=comments-rss2" />

    <!--CSS-->
    <link rel='stylesheet' id='wtfdivi-user-css-css' href='' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-icons-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-fonts-css'
        href='//fonts.googleapis.com/css?family=Lora%3A400%2C400italic%2C700%2C700italic%7CMontserrat%3A400%2C700%7CMaven+Pro%3A400%2C700&#038;ver=4.9.18'
        type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css-css' href='../css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-style-css' href='../css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='../js/js_composer.min.css' type='text/css' media='all' />


    <!--JS-->
    <script type='text/javascript' src='../js/jquery.js'></script>
    <script type='text/javascript' src='../js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='../js/modernizr.min.js'></script>
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>
    <script type='text/javascript' src='../js/functions.min.js'></script>


    <link rel="icon" href="../img/cropped-FAV-32x32.png" sizes="32x32" />
    <link rel="icon" href="../img/cropped-FAV-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="../img/cropped-FAV-180x180.png" />
    <meta name="msapplication-TileImage" content="../img/cropped-FAV-270x270.png" />


    <style type="text/css" id="wp-custom-css">
        .page .entry-title {
            margin-bottom: 0px !important;
            display: none !important;
        }

        .main-content-area {
            margin-top: 0px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body class="blog wp-custom-logo desktop group-blog has-full-width wpb-js-composer js-comp-ver-5.5.4 vc_responsive">
    <div id="page" class="hfeed site">

        <header id="masthead" class="site-header" role="banner">
            <!--MENU-->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="site-navigation-inner col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu-mainmenu" class="nav navbar-nav">
                                    <li id="menu-item-644"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-644">
                                        <a title="Educleta" href="../views/index.ejs">Educleta</a>
                                    </li>
                                    <li id="menu-item-641"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641">
                                        <a title="Nosotros" href="../views/nosotros.ejs">Nosotros
                                        </a><span class="activello-dropdown"></span>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-755"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755">
                                                <a title="Misión y Visión" href="../views/mision_vision.ejs">Misión y
                                                    Visión</a>
                                            </li>
                                            <li id="menu-item-887"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887 ">
                                                <a title="Aliados" href="../views/aliados.ejs">Aliados</a>
                                            </li>
                                            <li id="menu-item-980"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980 ">
                                                <a title="Prensa" href="../views/prensa.ejs">Prensa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-642"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-642 ">
                                        <a title="Servicios" href="../views/servicios.ejs">Servicios</a>
                                    </li>
                                    <li id="menu-item-893"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893 active">
                                        <a title="Noticias" href="../views/noticias.ejs">Noticias</a>
                                    </li>
                                    <li id="menu-item-1038"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1038">
                                        <a title="Academia" href="../views/academia.ejs">Academia</a>
                                    </li>
                                    <li id="menu-item-640"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
                                        <a title="Contacto" href="../views/contacto.ejs">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                            <!--AUN NO SE AGREGARA
                    <div class="nav-search">
                        <form action="http://www.educleta.cl/" method="get"><input type="text" name="s" value=""
                                placeholder="Search"><button type="submit" class="header-search-icon"
                                name="submit" id="searchsubmit" value="Search"><i
                                    class="fa fa-search"></i></button></form>
                    </div>
                    -->
                        </div>
                    </div>
                </div>
            </nav>
            <!--MENU-->


            <div class="container">
                <div id="logo">
                    <span class="site-name">
                        <a href="http://www.educleta.cl/" class="custom-logo-link" rel="home" itemprop="url"><img
                                width="400" height="200" src="../img/logo_edu.png" class="custom-logo" alt=""
                                itemprop="logo" srcset="" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    </span>

                </div>

                <div id="line"></div>
            </div>

        </header>


        <div id="content" class="site-content vc_box_border_grey">

            <div class="top-section vc_box_border_grey">
                <div class="flexslider">
                    <ul class="slides ">
                        <li><img width="413" height="550" src="../img/IMG_3487-e1546290812608.jpeg"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt=""
                                srcset="../img/IMG_3487-e1546290812608.jpeg 3024w, ../img/IMG_3487-e1546290812608-225x300.jpeg 225w, ../img/IMG_3487-e1546290812608-768x1024.jpeg 768w, ../img/IMG_3487-e1546290812608-1080x1440.jpeg 1080w"
                                sizes="(max-width: 413px) 100vw, 413px" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="../views/noticias.ejs" rel="category">Noticias</a></li>
                                </ul><a href="../views/noticias.ejs">
                                    <h2 class="entry-title">Educleta premio Destacado del Deporte 2018</h2>
                                </a>
                                <div class="read-more"><a href="../views/noticias.ejs">Read More</a></div>
                            </div>
                        </li>
                        <li><img width="1300" height="550" src="../img/p1-1300x550.png"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt="" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="../views/noticias.ejs" rel="category">Noticias</a></li>
                                </ul><a href="../views/noticias.ejs">
                                    <h2 class="entry-title">Educleta y Gobierno Metropolitano implementarán Ruta Segura
                                        en 2019</h2>
                                </a>
                                <div class="read-more"><a href="../views/noticias.ejs">Read More</a></div>
                            </div>
                        </li>
                        <li><img width="843" height="550" src="../img/IMG_0935.jpeg"
                                class="attachment-activello-slider size-activello-slider wp-post-image" alt=""
                                srcset="../img/IMG_0935.jpeg 2048w, ../img/IMG_0935-300x196.jpeg 300w, ../img/IMG_0935-768x501.jpeg 768w, ../img/IMG_0935-1024x668.jpeg 1024w, ../img/IMG_0935-1080x705.jpeg 1080w"
                                sizes="(max-width: 843px) 100vw, 843px" />
                            <div class="flex-caption">
                                <ul class="post-categories">
                                    <li><a href="../views/noticias.ejs" rel="category">Noticias</a></li>
                                </ul><a href="../views/noticias.ejs">
                                    <h2 class="entry-title">Educleta presentó en Tailandia su aporte a la seguridad vial
                                    </h2>
                                </a>
                                <div class="read-more"><a href="../views/noticias.ejs">Read More</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container main-content-area">


                <div class="row">
                    <div class="main-content-inner col-sm-12 col-md-8 full-width">

                        <div id="primary" class="content-area">

                            <main id="main" class="site-main page-1" role="main">


                                <div class="article-container">



                                    <article id="post-839"
                                        class="post-839 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta premio Destacado del Deporte
                                                            2018</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-12-31T21:14:18+00:00">Diciembre 31,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta premio Destacado del Deporte 2018">
                                                    <img width="413" height="550"
                                                        src="../img/IMG_3487-e1546290812608.jpeg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/IMG_3487-e1546290812608.jpeg 3024w, ../img/IMG_3487-e1546290812608-225x300.jpeg 225w, ../img/IMG_3487-e1546290812608-768x1024.jpeg 768w, ../img/IMG_3487-e1546290812608-1080x1440.jpeg 1080w"
                                                        sizes="(max-width: 413px) 100vw, 413px" /> </a>

                                                <div class="entry-content">

                                                    <p>El hall central del Palacio Consistorial reunió a los 38
                                                        galardonados en la ceremonia de premiación de los Destacados del
                                                        Deportes 2018. Un reconocimiento que cumplió 10 años donde la
                                                        Municipalidad de Santiago destaca a todos quienes colaboran
                                                        activamente en la formación de una Cultura Física Deportiva y
                                                        Preventiva Comunal. La actividad estuvo encabezada por
                                                        [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta premio Destacado del Deporte 2018">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-836"
                                        class="post-836 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta y Gobierno Metropolitano
                                                            implementarán Ruta Segura en 2019</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-12-31T20:56:52+00:00">Diciembre 31,
                                                                    2018</time><time class="updated"
                                                                    datetime="2019-09-04T03:09:34+00:00">Septiembre 4,
                                                                    2019</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta y Gobierno Metropolitano implementarán Ruta Segura en 2019">
                                                    <img width="1170" height="550" src="../img/p1-1170x550.png"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/p1-1170x550.png 1170w, ../img/p1-710x335.png 710w"
                                                        sizes="(max-width: 1170px) 100vw, 1170px" /> </a>

                                                <div class="entry-content">

                                                    <p>Pasos peatonales con diseños lúdicos, mapas del mundo, huellas de
                                                        pies de colores, luches, tiburones, cocodrilos, dragones y
                                                        cuncunas con números, serán algunas de las demarcaciones que
                                                        podrán encontrar en calzadas y aceras los cerca de 1.500
                                                        estudiantes de 4 colegios de La Pintana, que se verán
                                                        beneficiados con un proyecto del Gobierno Regional y [&hellip;]
                                                    </p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta y Gobierno Metropolitano implementarán Ruta Segura en 2019">Read
                                                            More</a>
                                                    </div>

                                                </div><!-- .entry-content -->
                                            </div>
                                        </div>
                                    </article><!-- #post-## -->



                                    <article id="post-829"
                                        class="post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta presentó en Tailandia su aporte a la
                                                            seguridad vial</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-11-07T19:05:50+00:00">Noviembre 7,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div><!-- .entry-meta -->
                                                </header><!-- .entry-header -->

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta presentó en Tailandia su aporte a la seguridad vial">
                                                    <img width="843" height="550" src="../img/IMG_0935.jpeg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/IMG_0935.jpeg 2048w, ../img/IMG_0935-300x196.jpeg 300w, ../img/IMG_0935-768x501.jpeg 768w, ../img/IMG_0935-1024x668.jpeg 1024w, ../img/IMG_0935-1080x705.jpeg 1080w"
                                                        sizes="(max-width: 843px) 100vw, 843px" /> </a>

                                                <div class="entry-content">

                                                    <p>En el marco del encuentro de líderes de la Alianza de Ciudades
                                                        Saludables, Andrés Santelices, fundador de Educleta, presentó el
                                                        aporte de la ONG a la seguridad vial en Chile ante
                                                        representantes de más de 10 países que desarrollan proyectos que
                                                        mejoran la calidad de vida de las ciudades. En la oportunidad,
                                                        Andrés Santelices, resumió [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta presentó en Tailandia su aporte a la seguridad vial">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-808"
                                        class="post-808 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs ">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta conmemoró Día Mundial de las
                                                            Ciudades con Biciescuela</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-11-03T12:15:42+00:00">Noviembre 3,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div><!-- .entry-meta -->
                                                </header><!-- .entry-header -->

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta conmemoró Día Mundial de las Ciudades con Biciescuela">
                                                    <img width="733" height="550"
                                                        src="../img/4cf82537-a800-4d33-a34f-2d2686a63d2a.jpg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/4cf82537-a800-4d33-a34f-2d2686a63d2a.jpg 1280w, ../img/4cf82537-a800-4d33-a34f-2d2686a63d2a-300x225.jpg 300w, ../img/4cf82537-a800-4d33-a34f-2d2686a63d2a-768x576.jpg 768w, ../img/4cf82537-a800-4d33-a34f-2d2686a63d2a-1024x768.jpg 1024w, ../img/4cf82537-a800-4d33-a34f-2d2686a63d2a-510x382.jpg 510w, ../img/4cf82537-a800-4d33-a34f-2d2686a63d2a-1080x810.jpg 1080w"
                                                        sizes="(max-width: 733px) 100vw, 733px" /> </a>

                                                <div class="entry-content">

                                                    <p>Nota: Intendencia Metropolitana En bicicleta y disfrazados, una
                                                        decena de niños pertenecientes a la Escuela de Párvulos Antu
                                                        Huilen de Independencia, participaron de una entretenida clase
                                                        de educación vial en la Plaza de la Cultura, frente al Palacio
                                                        de la Moneda, en la que aprendieron el significado de señales
                                                        del tránsito como el disco pare [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta conmemoró Día Mundial de las Ciudades con Biciescuela">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-805"
                                        class="post-805 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta realizó Biciescuela en Arica</a>
                                                    </h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-10-25T21:49:06+00:00">Octubre 25,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div><!-- .entry-meta -->
                                                </header><!-- .entry-header -->

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta realizó Biciescuela en Arica">
                                                    <img width="663" height="332" src="../img/AA11.jpg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/AA11.jpg 663w, ../img/AA11-300x150.jpg 300w"
                                                        sizes="(max-width: 663px) 100vw, 663px" /> </a>

                                                <div class="entry-content">

                                                    <p>Nota: Municipalidad de Arica “A todo pedal” estudiantes
                                                        participan de las jornadas de formación cívico vial, con juegos
                                                        educativos y entretenidas actividades,iniciativa impulsada por
                                                        la Municipalidad de Arica, a través del programa municipal
                                                        “Remuévete”, que busca promover una movilidad segura,
                                                        sustentable e inclusiva. Más de trescientos alumnos de la
                                                        Educación Municipal viven una experiencia educativa, [&hellip;]
                                                    </p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta realizó Biciescuela en Arica">Read More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-795"
                                        class="post-795 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta participará en Congreso de Ciudades
                                                            Seguras en Tailandia</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-10-25T21:45:16+00:00">Octubre 25,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta participará en Congreso de Ciudades Seguras en Tailandia">
                                                    <img width="712" height="550" src="../img/Logo-Educleta.jpg"
                                                        class="single-featured wp-post-image" alt="Logo Educleta"
                                                        srcset="../img/Logo-Educleta.jpg 1334w, ../img/Logo-Educleta-300x232.jpg 300w, ../img/Logo-Educleta-768x594.jpg 768w, ../img/Logo-Educleta-1024x791.jpg 1024w, ../img/Logo-Educleta-1080x835.jpg 1080w"
                                                        sizes="(max-width: 712px) 100vw, 712px" /> </a>

                                                <div class="entry-content">

                                                    <p>Nota: Facultad de Periodismo UDD Luego de cuatro años de
                                                        experiencia, ejecutando planes diseñados para instituciones y
                                                        comunidades, Educleta se ha convertido en la ONG líder e
                                                        innovadora en desarrollar programas educacionales de movilidad
                                                        activa, segura, sustentable e inclusiva. Educleta nació como el
                                                        proyecto de título de Magíster en comunicación y educación en la
                                                        Universidad [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta participará en Congreso de Ciudades Seguras en Tailandia">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-791"
                                        class="post-791 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta firmó Acuerdo Nacional por la
                                                            Seguridad Vial</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-10-25T21:25:57+00:00">Octubre 25,
                                                                    2018</time><time class="updated"
                                                                    datetime="2018-10-25T21:26:46+00:00">Octubre 25,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta firmó Acuerdo Nacional por la Seguridad Vial">
                                                    <img width="560" height="288" src="../img/MTT_NOTICIA_ACUERDO-1.jpg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/MTT_NOTICIA_ACUERDO-1.jpg 560w, ../img/MTT_NOTICIA_ACUERDO-1-300x154.jpg 300w"
                                                        sizes="(max-width: 560px) 100vw, 560px" /> </a>

                                                <div class="entry-content">

                                                    <p>Frente a la preocupante realidad de los siniestros de tránsito de
                                                        nuestro país, Educleta como ONG dedicada a promover la movilidad
                                                        segura y la convivencia vial suscribió junto a representantes
                                                        del sector público y privado el Acuerdo Nacional por la
                                                        Seguridad Vial, instancia que tiene por objetivo elaborar una
                                                        Estrategia Nacional de Seguridad de Tránsito [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta firmó Acuerdo Nacional por la Seguridad Vial">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-788"
                                        class="post-788 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Educleta lanzó proyecto A la Escuela en Bici
                                                            en La Pintana</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-10-25T21:19:09+00:00">Octubre 25,
                                                                    2018</time><time class="updated"
                                                                    datetime="2018-10-25T21:21:28+00:00">Octubre 25,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Educleta lanzó proyecto A la Escuela en Bici en La Pintana">
                                                    <img width="1076" height="550"
                                                        src="../img/Actividad-con-Educleta-La-Pintana-e1538679539966.jpeg"
                                                        class="single-featured wp-post-image" alt=""
                                                        srcset="../img/Actividad-con-Educleta-La-Pintana-e1538679539966.jpeg 1238w, ../img/Actividad-con-Educleta-La-Pintana-e1538679539966-300x153.jpeg 300w, ../img/Actividad-con-Educleta-La-Pintana-e1538679539966-768x393.jpeg 768w, ../img/Actividad-con-Educleta-La-Pintana-e1538679539966-1024x524.jpeg 1024w, ../img/Actividad-con-Educleta-La-Pintana-e1538679539966-1080x552.jpeg 1080w"
                                                        sizes="(max-width: 1076px) 100vw, 1076px" /> </a>

                                                <div class="entry-content">

                                                    <p>Con la presencia de la directora de la Dirección de Educación
                                                        Municipal de La Pintana, Teresa Vallespín, Educleta realizó el
                                                        lanzamiento de su emblemático proyecto A la Escuela en Bici. El
                                                        evento se efectuó este lunes 24 de septiembre en el Liceo Parque
                                                        Las Américas, en el cual asistió no sólo la comunidad escolar de
                                                        [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Educleta lanzó proyecto A la Escuela en Bici en La Pintana">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-785"
                                        class="post-785 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Petitorio Red Nacional Convivencia Vial</a>
                                                    </h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-09-28T10:04:34+00:00">Septiembre 28,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n"
                                                                href="#">educleta@gmail.com</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Petitorio Red Nacional Convivencia Vial">
                                                    <img width="221" height="206" src="../img/DNSA.jpg"
                                                        class="single-featured wp-post-image" alt="" /> </a>

                                                <div class="entry-content">

                                                    <p>Red Nacional de Convivencia Vial solicita al Presidente de la
                                                        República y a la Ministra de Transportes y Telecomunicaciones 5
                                                        medidas, en el marco del primer Día Nacional Sin Autos Santiago,
                                                        Chile, 28 de septiembre de 2018 Considerando Que en todo el
                                                        mundo el objetivo más importante de celebrar un Día Sin Autos es
                                                        el [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Petitorio Red Nacional Convivencia Vial">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>



                                    <article id="post-714"
                                        class="post-714 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
                                        <div class="blog-item-wrap">
                                            <div class="post-inner-content">
                                                <header class="entry-header page-header">
                                                    <ul class="single-category">
                                                        <li class="cat-item cat-item-11"><a
                                                                href="../views/noticias.ejs">Noticias</a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="entry-title"><a href="../views/noticias.ejs"
                                                            rel="bookmark">Nos vemos en el Salón de la Bicicleta
                                                            2018</a></h2>

                                                    <div class="entry-meta">
                                                        <span class="posted-on">Posted on <a
                                                                href="../views/noticias.ejs" rel="bookmark"><time
                                                                    class="entry-date published"
                                                                    datetime="2018-09-20T23:11:28+00:00">Septiembre 20,
                                                                    2018</time></a></span>by <span
                                                            class="author vcard"><a class="url fn n" href="#">Sebastian
                                                                Hoeing</a></span>

                                                    </div>
                                                </header>

                                                <a href="../views/noticias.ejs"
                                                    title="Nos vemos en el Salón de la Bicicleta 2018">
                                                    <img width="586" height="550"
                                                        src="../img/educleta-salon-de-la-bicicleta-2018.png"
                                                        class="single-featured wp-post-image"
                                                        alt="educleta-salon-de-la-bicicleta-2018"
                                                        srcset="../img/educleta-salon-de-la-bicicleta-2018.png 1198w, ../img/educleta-salon-de-la-bicicleta-2018-300x281.png 300w, ../img/educleta-salon-de-la-bicicleta-2018-768x721.png 768w, ../img/educleta-salon-de-la-bicicleta-2018-1024x961.png 1024w, ../img/educleta-salon-de-la-bicicleta-2018-1080x1013.png 1080w"
                                                        sizes="(max-width: 586px) 100vw, 586px" /> </a>

                                                <div class="entry-content">

                                                    <p>Enseñar y aprender es nuestra pasión, por eso agradecemos a las
                                                        más de 15 mil personas que han participado en nuestras
                                                        actividades durante estos cuatro años de vida. Es increíble todo
                                                        lo que representa para nuestras vidas promover el uso de la
                                                        bicicleta en Chile y en otros rincones del mundo. Seguiremos con
                                                        todo y [&hellip;]</p>


                                                    <div class="read-more">
                                                        <a href="../views/noticias.ejs"
                                                            title="Nos vemos en el Salón de la Bicicleta 2018">Read
                                                            More</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>


                                </div>

                                <!--Navegacion
                                <nav class="navigation paging-navigation" role="navigation">
                                    <h1 class="screen-reader-text">Posts navigation</h1>
                                    <div class="nav-links">

                                        <div class="nav-previous"> <a
                                                href="../views/noticias.ejs">Older posts</a>
                                        </div>


                                    </div>
                                </nav>
                                Navegacion-->

                            </main>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        <p>EDUCLETA</p>
                        <p>Contacto: <a href="mailto:educleta@gmail.com">
                                educleta@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
        </footer>
    </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($(window).width() >= 767) {
                $('.navbar-nav > li.menu-item > a').click(function () {
                    if ($(this).attr('target') !== '_blank') {
                        window.location = $(this).attr('href');
                    } else {
                        var win = window.open($(this).attr('href'), '_blank');
                        win.focus();
                    }
                });
            }
        });
    </script>


    <link rel='stylesheet' id='db121_socicons-css' href='../css/icons.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_google_fonts_montserratregular700-css'
        href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;ver=4.9.18' type='text/css'
        media='all' />
    <script type='text/javascript' src='../js/skip-link-focus-fix.js'></script>
    <script type='text/javascript' src='../js/flexslider.min.js'></script>
    <script type='text/javascript' src='../js/js_composer_front.min.js'></script>

</body>

</html>