<!doctype html>

<html class="no-js" lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prensa -</title>

    <meta name="description" content="Educleta es líder en seguridad vial" />
    <link rel="canonical" href="http://www.educleta.cl/" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Educleta -" />
    <meta property="og:description" content="Educleta es líder en seguridad vial" />
    <meta property="og:url" content="http://www.educleta.cl/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Educleta es líder en seguridad vial" />
    <meta name="twitter:title" content="Educleta -" />
    <meta name="twitter:site" content="@EducletaChile" />
    <meta name="twitter:creator" content="@andresantelices" />
    <script type='application/ld+json'
        class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://www.educleta.cl/#organization","name":"Educleta","url":"http://www.educleta.cl/","sameAs":["https://de-de.facebook.com/pages/category/Education/Educleta-267530389943085/","https://www.instagram.com/educletachile/","https://www.youtube.com/user/Educleta","https://twitter.com/EducletaChile"],"logo":{"@type":"ImageObject","@id":"http://www.educleta.cl/#logo","url":"http://www.educleta.cl/wp-content/uploads/2018/04/LOGO-Educleta-2017.jpg","width":1650,"height":1275,"caption":"Educleta"},"image":{"@id":"http://www.educleta.cl/#logo"}},{"@type":"WebSite","@id":"http://www.educleta.cl/#website","url":"http://www.educleta.cl/","name":"Educleta","publisher":{"@id":"http://www.educleta.cl/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://www.educleta.cl/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://www.educleta.cl/#webpage","url":"http://www.educleta.cl/","inLanguage":"es-CL","name":"Educleta -","isPartOf":{"@id":"http://www.educleta.cl/#website"},"about":{"@id":"http://www.educleta.cl/#organization"},"datePublished":"2018-04-11T09:38:03+00:00","dateModified":"2020-01-06T17:32:51+00:00","description":"Educleta es l\u00edder en seguridad vial"}]}</script>


    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.educleta.cl/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title=" &raquo; Feed de comentarios"
        href="http://www.educleta.cl/?feed=comments-rss2" />

    <!--CSS-->
    <link rel='stylesheet' id='wtfdivi-user-css-css' href='' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-icons-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-fonts-css'
        href='//fonts.googleapis.com/css?family=Lora%3A400%2C400italic%2C700%2C700italic%7CMontserrat%3A400%2C700%7CMaven+Pro%3A400%2C700&#038;ver=4.9.18'
        type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css-css' href='../css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='activello-style-css' href='../css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='../js/js_composer.min.css' type='text/css' media='all' />


    <!--JS-->
    <script type='text/javascript' src='../js/jquery.js'></script>
    <script type='text/javascript' src='../js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='../js/modernizr.min.js'></script>
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>
    <script type='text/javascript' src='../js/functions.min.js'></script>


    <link rel="icon" href="../img/cropped-FAV-32x32.png" sizes="32x32" />
    <link rel="icon" href="../img/cropped-FAV-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="../img/cropped-FAV-180x180.png" />
    <meta name="msapplication-TileImage" content="../img/cropped-FAV-270x270.png" />


    <!-- END ExactMetrics Universal Analytics -->
    <style type="text/css" id="wp-custom-css">
        .page .entry-title {
            margin-bottom: 0px !important;
            display: none !important;
        }

        .main-content-area {
            margin-top: 0px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body
    class="page-template-default page page-id-978 wp-custom-logo desktop group-blog has-full-width wpb-js-composer js-comp-ver-5.5.4 vc_responsive">
    <div id="page" class="hfeed site">

        <header id="masthead" class="site-header" role="banner">
            <!--MENU-->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="site-navigation-inner col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul id="menu-mainmenu" class="nav navbar-nav">
                                    <li id="menu-item-644"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-644">
                                        <a title="Educleta" href="../views/index.ejs">Educleta</a>
                                    </li>
                                    <li id="menu-item-641"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641">
                                        <a title="Nosotros" href="../views/nosotros.ejs">Nosotros
                                        </a><span class="activello-dropdown"></span>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-755"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755">
                                                <a title="Misión y Visión" href="../views/mision_vision.ejs">Misión y
                                                    Visión</a>
                                            </li>
                                            <li id="menu-item-887"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887 ">
                                                <a title="Aliados" href="../views/aliados.ejs">Aliados</a>
                                            </li>
                                            <li id="menu-item-980"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980 active">
                                                <a title="Prensa" href="../views/prensa.ejs">Prensa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-642"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-642">
                                        <a title="Servicios" href="../views/servicios.ejs">Servicios</a>
                                    </li>
                                    <li id="menu-item-893"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893">
                                        <a title="Noticias" href="../views/noticias.ejs">Noticias</a>
                                    </li>
                                    <li id="menu-item-1038"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1038">
                                        <a title="Academia" href="../views/academia.ejs">Academia</a>
                                    </li>
                                    <li id="menu-item-640"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
                                        <a title="Contacto" href="../views/contacto.ejs">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                            <!--AUN NO SE AGREGARA
                    <div class="nav-search">
                        <form action="http://www.educleta.cl/" method="get"><input type="text" name="s" value=""
                                placeholder="Search"><button type="submit" class="header-search-icon"
                                name="submit" id="searchsubmit" value="Search"><i
                                    class="fa fa-search"></i></button></form>
                    </div>
                    -->
                        </div>
                    </div>
                </div>
            </nav>
            <!--MENU-->


            <div class="container">
                <div id="logo">
                    <span class="site-name">
                        <a href="http://www.educleta.cl/" class="custom-logo-link" rel="home" itemprop="url"><img
                                width="400" height="200" src="../img/logo_edu.png" class="custom-logo" alt=""
                                itemprop="logo" srcset="" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    </span>

                </div>

                <div id="line"></div>
            </div>

        </header>


        <div id="content" class="site-content">

            <div class="top-section">
            </div>

            <div class="container main-content-area">


                <div class="row">
                    <div class="main-content-inner col-sm-12 col-md-8 full-width">

                        <div id="primary" class="content-area">

                            <main id="main" class="site-main" role="main">




                                <div class="post-inner-content">
                                    <article id="post-978" class="post-978 page type-page status-publish hentry">
                                        <header class="entry-header page-header">
                                            <h1 class="entry-title">Prensa</h1>
                                        </header>

                                        <div class="entry-content">
                                            <div data-vc-full-width="true" data-vc-full-width-init="false"
                                                data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div
                                                                class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
                                                                <div class="wpb_wrapper">

                                                                    <div class="wpb_video_wrapper"><iframe width="697"
                                                                            height="392"
                                                                            src="https://www.youtube.com/embed/KAxlcDz6efs?feature=oembed"
                                                                            frameborder="0"
                                                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                                            allowfullscreen></iframe></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row-full-width vc_clearfix"></div>
                                            <div data-vc-full-width="true" data-vc-full-width-init="false"
                                                class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div
                                                                class="wpb_images_carousel wpb_content_element vc_clearfix">
                                                                <div class="wpb_wrapper">
                                                                    <div id="vc_images-carousel-1-1621390732"
                                                                        data-ride="vc_carousel" data-wrap="true"
                                                                        style="width: 100%;" data-interval="0"
                                                                        data-auto-height="yes" data-mode="horizontal"
                                                                        data-partial="false" data-per-view="2"
                                                                        data-hide-on-end="true"
                                                                        class="vc_slide vc_images_carousel">
                                                                       
                                                                        <ol class="vc_carousel-indicators">
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="0"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="1"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="2"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="3"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="4"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="5"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="6"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="7"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="8"></li>
                                                                            <li data-target="#vc_images-carousel-1-1621390732"
                                                                                data-slide-to="9"></li>
                                                                        </ol>
                                                                        
                                                                        <div class="vc_carousel-inner">
                                                                            <div class="vc_carousel-slideline">
                                                                                <div
                                                                                    class="vc_carousel-slideline-inner">
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p10.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p10.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p10.png 200w, ../img/p10-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p9.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p9.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p9.png 200w, ../img/p9-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p8.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p8.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p8.png 200w, ../img/p8-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p7.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p7.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p7.png 200w, ../img/p7-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p6.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p6.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p6.png 200w, ../img/p6-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p5.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p5.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p5.png 200w, ../img/p5-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p4.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p4.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p4.png 200w, ../img/p4-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p3.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p3.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p3.png 200w, ../img/p3-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p2.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p2.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p2.png 200w, ../img/p2-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vc_item">
                                                                                        <div class="vc_inner">
                                                                                            <a class="prettyphoto"
                                                                                                href="../img/p1.png"
                                                                                                data-rel="prettyPhoto[rel-978-503324849]">
                                                                                                <img width="200"
                                                                                                    height="200"
                                                                                                    src="../img/p1.png"
                                                                                                    class="attachment-full"
                                                                                                    alt=""
                                                                                                    srcset="../img/p1.png 200w, ../img/p1-150x150.png 150w"
                                                                                                    sizes="(max-width: 200px) 100vw, 200px" />
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <a class="vc_left vc_carousel-control"
                                                                            href="#vc_images-carousel-1-1621390732"
                                                                            data-slide="prev">
                                                                            <span class="icon-prev"></span>
                                                                        </a>
                                                                        <a class="vc_right vc_carousel-control"
                                                                            href="#vc_images-carousel-1-1621390732"
                                                                            data-slide="next">
                                                                            <span class="icon-next"></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row-full-width vc_clearfix"></div>
                                        </div>
                                    </article>
                                </div>



                            </main>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="copyright col-md-12">
                        <p>EDUCLETA</p>
                        <p>Contacto: <a href="mailto:educleta@gmail.com">
                                educleta@gmail.com</a>.</p>
                    </div>
                </div>
            </div><!-- .site-info -->
            <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->
    </div>
    </div><!-- #page -->

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($(window).width() >= 767) {
                $('.navbar-nav > li.menu-item > a').click(function () {
                    if ($(this).attr('target') !== '_blank') {
                        window.location = $(this).attr('href');
                    } else {
                        var win = window.open($(this).attr('href'), '_blank');
                        win.focus();
                    }
                });
            }
        });
    </script>




<link rel='stylesheet' id='db121_socicons-css' href='../css/icons.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_google_fonts_montserratregular700-css' href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;ver=4.9.18' type='text/css' media='all' />
    <script type='text/javascript' src='../js/skip-link-focus-fix.js'></script>


    <script type='text/javascript' src='../js/flexslider.min.js'></script>
    <script type='text/javascript' src='../js/js_composer_front.min.js'></script>







    <link rel='stylesheet' id='vc_carousel_css-css' href='../css/vc_carousel.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-css' href='../css/prettyPhoto.min.css' type='text/css' media='all' />
    
    <script type='text/javascript' src='http://www.educleta.cl/wp-content/uploads/wtfdivi/wp_footer.js?ver=1524210557'></script>
    <script type='text/javascript' src='../js/wp-embed.min.js'></script>
    
    <script type='text/javascript' src='../js/transition.min.js'></script>
    <script type='text/javascript' src='../js/vc_carousel.min.js?ver=5.5.4'></script>
    <script type='text/javascript' src='../js/jquery.prettyPhoto.min.js'></script>

</body>

</html>