
<!doctype html>
	<!--[if !IE]>
	<html class="no-js non-ie" lang="es-CL"> <![endif]-->
	<!--[if IE 7 ]>
	<html class="no-js ie7" lang="es-CL"> <![endif]-->
	<!--[if IE 8 ]>
	<html class="no-js ie8" lang="es-CL"> <![endif]-->
	<!--[if IE 9 ]>
	<html class="no-js ie9" lang="es-CL"> <![endif]-->
	<!--[if gt IE 9]><!-->
<html class="no-js" lang="es-CL"> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://www.educleta.cl/xmlrpc.php">

<title>Productos y Servicios -</title>

<!-- This site is optimized with the Yoast SEO plugin v11.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="La mejor oferta en cuanto a educación vial, vida sana y movilidad ecológica. Solicita nuestra Plaza Educación Vial, el juego Moovility u otros servicios."/>
<link rel="canonical" href="http://www.educleta.cl/?page_id=159" />
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Productos y Servicios -" />
<meta property="og:description" content="La mejor oferta en cuanto a educación vial, vida sana y movilidad ecológica. Solicita nuestra Plaza Educación Vial, el juego Moovility u otros servicios." />
<meta property="og:url" content="http://www.educleta.cl/?page_id=159" />
<meta property="article:publisher" content="https://de-de.facebook.com/pages/category/Education/Educleta-267530389943085/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="La mejor oferta en cuanto a educación vial, vida sana y movilidad ecológica. Solicita nuestra Plaza Educación Vial, el juego Moovility u otros servicios." />
<meta name="twitter:title" content="Productos y Servicios -" />
<meta name="twitter:site" content="@EducletaChile" />
<meta name="twitter:creator" content="@andresantelices" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://www.educleta.cl/#organization","name":"Educleta","url":"http://www.educleta.cl/","sameAs":["https://de-de.facebook.com/pages/category/Education/Educleta-267530389943085/","https://www.instagram.com/educletachile/","https://www.youtube.com/user/Educleta","https://twitter.com/EducletaChile"],"logo":{"@type":"ImageObject","@id":"http://www.educleta.cl/#logo","url":"http://www.educleta.cl/wp-content/uploads/2018/04/LOGO-Educleta-2017.jpg","width":1650,"height":1275,"caption":"Educleta"},"image":{"@id":"http://www.educleta.cl/#logo"}},{"@type":"WebSite","@id":"http://www.educleta.cl/#website","url":"http://www.educleta.cl/","name":"Educleta","publisher":{"@id":"http://www.educleta.cl/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://www.educleta.cl/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://www.educleta.cl/?page_id=159#webpage","url":"http://www.educleta.cl/?page_id=159","inLanguage":"es-CL","name":"Productos y Servicios -","isPartOf":{"@id":"http://www.educleta.cl/#website"},"datePublished":"2018-04-13T03:23:34+00:00","dateModified":"2020-01-06T14:41:28+00:00","description":"La mejor oferta en cuanto a educaci\u00f3n vial, vida sana y movilidad ecol\u00f3gica. Solicita nuestra Plaza Educaci\u00f3n Vial, el juego Moovility u otros servicios."}]}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://www.educleta.cl/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed de comentarios" href="http://www.educleta.cl/?feed=comments-rss2" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.educleta.cl\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.18"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])?!1:!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55358,56760,9792,65039],[55358,56760,8203,9792,65039])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wtfdivi-user-css-css'  href='http://www.educleta.cl/wp-content/uploads/wtfdivi/wp_head.css?ver=1524210557' type='text/css' media='all' />
<link rel='stylesheet' id='activello-bootstrap-css'  href='http://www.educleta.cl/wp-content/themes/activello/assets/css/bootstrap.min.css?ver=4.9.18' type='text/css' media='all' />
<link rel='stylesheet' id='activello-icons-css'  href='http://www.educleta.cl/wp-content/themes/activello/assets/css/font-awesome.min.css?ver=4.9.18' type='text/css' media='all' />
<link rel='stylesheet' id='activello-fonts-css'  href='//fonts.googleapis.com/css?family=Lora%3A400%2C400italic%2C700%2C700italic%7CMontserrat%3A400%2C700%7CMaven+Pro%3A400%2C700&#038;ver=4.9.18' type='text/css' media='all' />
<link rel='stylesheet' id='activello-style-css'  href='http://www.educleta.cl/wp-content/themes/activello/style.css?ver=4.9.18' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='http://www.educleta.cl/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.5.4' type='text/css' media='all' />
<script type='text/javascript' src='http://www.educleta.cl/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-content/themes/activello/assets/js/vendor/modernizr.min.js?ver=4.9.18'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-content/themes/activello/assets/js/vendor/bootstrap.min.js?ver=4.9.18'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-content/themes/activello/assets/js/functions.min.js?ver=4.9.18'></script>
<link rel='https://api.w.org/' href='http://www.educleta.cl/index.php?rest_route=/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.educleta.cl/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.educleta.cl/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.9.18" />
<link rel='shortlink' href='http://www.educleta.cl/?p=159' />
<link rel="alternate" type="application/json+oembed" href="http://www.educleta.cl/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fwww.educleta.cl%2F%3Fpage_id%3D159" />
<link rel="alternate" type="text/xml+oembed" href="http://www.educleta.cl/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fwww.educleta.cl%2F%3Fpage_id%3D159&#038;format=xml" />
<style>
/* Display the team member icons */
.db_pb_team_member_website_icon:before{content:"\e0e3";}
.db_pb_team_member_email_icon:before{content:"\e010";}
.db_pb_team_member_instagram_icon:before{content:"\e09a";}

/* Fix email icon hidden by Email Address Encoder plugin */
ul.et_pb_member_social_links li > span { 
	display: inline-block !important; 
}
</style>
<style>
@media only screen and (min-width: 981px) {
    .et_pb_module.db_inline_form .et_pb_newsletter_fields > p { 
        flex: auto !important;
    }
    .et_pb_module.db_inline_form .et_pb_newsletter_fields p.et_pb_newsletter_field {
        margin-right: 2%; 
    }
}
</style>
	<script>
	jQuery(function($) {
							$('.et-social-icons').append('<li class="et-social-icon"><a href="http://www.facebook.com" class="icon socicon socicon-facebook"><span>Facebook</span></a></li>');
					$('.et-extra-social-icons').append('<li class="et-extra-social-icon"><a href="http://www.facebook.com" class="et-extra-icon et-extra-icon-background-hover socicon socicon-facebook"></a></li>');
						});
	</script>
	<style type="text/css">#social a, .header-search-icon { color:#58b738}</style>	<style type="text/css">
		#social li{
			display: inline-block;
		}
		#social li,
		#social ul {
			border: 0!important;
			list-style: none;
			padding-left: 0;
			text-align: center;
		}
		#social li a[href*="twitter.com"] .fa:before,
		.fa-twitter:before {
			content: "\f099"
		}
		#social li a[href*="facebook.com"] .fa:before,
		.fa-facebook-f:before,
		.fa-facebook:before {
			content: "\f09a"
		}
		#social li a[href*="github.com"] .fa:before,
		.fa-github:before {
			content: "\f09b"
		}
		#social li a[href*="/feed"] .fa:before,
		.fa-rss:before {
			content: "\f09e"
		}
		#social li a[href*="pinterest.com"] .fa:before,
		.fa-pinterest:before {
			content: "\f0d2"
		}
		#social li a[href*="plus.google.com"] .fa:before,
		.fa-google-plus:before {
			content: "\f0d5"
		}
		#social li a[href*="linkedin.com"] .fa:before,
		.fa-linkedin:before {
			content: "\f0e1"
		}
		#social li a[href*="youtube.com"] .fa:before,
		.fa-youtube:before {
			content: "\f167"
		}
		#social li a[href*="instagram.com"] .fa:before,
		.fa-instagram:before {
			content: "\f16d"
		}
		#social li a[href*="flickr.com"] .fa:before,
		.fa-flickr:before {
			content: "\f16e"
		}
		#social li a[href*="tumblr.com"] .fa:before,
		.fa-tumblr:before {
			content: "\f173"
		}
		#social li a[href*="dribbble.com"] .fa:before,
		.fa-dribbble:before {
			content: "\f17d"
		}
		#social li a[href*="skype.com"] .fa:before,
		.fa-skype:before {
			content: "\f17e"
		}
		#social li a[href*="foursquare.com"] .fa:before,
		.fa-foursquare:before {
			content: "\f180"
		}
		#social li a[href*="vimeo.com"] .fa:before,
		.fa-vimeo-square:before {
			content: "\f194"
		}
		#social li a[href*="weheartit.com"] .fa:before,
		.fa-heart:before {
			content: "\f004"
		}
		#social li a[href*="spotify.com"] .fa:before,
		.fa-spotify:before {
			content: "\f1bc"
		}
		#social li a[href*="soundcloud.com"] .fa:before,
		.fa-soundcloud:before {
			content: "\f1be"
		}
	</style>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.educleta.cl/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><link rel="icon" href="http://www.educleta.cl/wp-content/uploads/2020/02/cropped-FAV-32x32.png" sizes="32x32" />
<link rel="icon" href="http://www.educleta.cl/wp-content/uploads/2020/02/cropped-FAV-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://www.educleta.cl/wp-content/uploads/2020/02/cropped-FAV-180x180.png" />
<meta name="msapplication-TileImage" content="http://www.educleta.cl/wp-content/uploads/2020/02/cropped-FAV-270x270.png" />

<!-- BEGIN ExactMetrics v5.3.8 Universal Analytics - https://exactmetrics.com/ -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-136259009-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- END ExactMetrics Universal Analytics -->
		<style type="text/css" id="wp-custom-css">
			.page .entry-title {
    margin-bottom: 0px!important;
    display: none!important;
}
.main-content-area {
    margin-top: 0px!important;
}		</style>
	<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1578320659235{background-color: #0b6b13 !important;}.vc_custom_1578321205860{background-color: #5e0038 !important;}.vc_custom_1578321123971{background-color: #0b6b13 !important;}.vc_custom_1578321285618{background-color: #5e0038 !important;}.vc_custom_1578321139601{background-color: #0b6b13 !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
</head>

<body class="page-template page-template-page-fullwidth page-template-page-fullwidth-php page page-id-159 wp-custom-logo desktop group-blog has-full-width wpb-js-composer js-comp-ver-5.5.4 vc_responsive">
<div id="page" class="hfeed site">

	<header id="masthead" class="site-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="site-navigation-inner col-sm-12">
						<div class="navbar-header">
							<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul id="menu-mainmenu" class="nav navbar-nav">
								<li id="menu-item-644"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90 current_page_item menu-item-644 active">
									<a title="Educleta" href="/">Educleta</a>
								</li>
								<li id="menu-item-641"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641">
									<a title="Nosotros" href="./nosotros">Nosotros
									</a><span class="activello-dropdown"></span>
									<ul role="menu" class=" dropdown-menu">
										<li id="menu-item-755"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755">
											<a title="Misión y Visión"
												href="/mision_vision">Misión y Visión</a>
										</li>
										<li id="menu-item-887"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887">
											<a title="Aliados"
												href="/aliados">Aliados</a>
										</li>
										<li id="menu-item-980"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
											<a title="Prensa" href="/prensa">Prensa</a>
										</li>
									</ul>
								</li>
								<li id="menu-item-642"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-642">
									<a title="Servicios" href="/servicios">Servicios</a>
								</li>
								<li id="menu-item-893"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-893">
									<a title="Noticias" href="/noticias">Noticias</a>
								</li>
								<li id="menu-item-1038"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1038">
									<a title="Academia" href="academia">Academia</a>
								</li>
								<li id="menu-item-640"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
									<a title="Contacto" href="contacto">Contacto</a>
								</li>
							</ul>
						</div>
					<!---   
						<div class="nav-search"><form action="http://www.educleta.cl/" method="get"><input type="text" name="s" value="" placeholder="Search"><button type="submit" class="header-search-icon" name="submit" id="searchsubmit" value="Search"><i class="fa fa-search"></i></button></form>							
						</div> -->
					</div>
				</div>
			</div>
		</nav><!-- .site-navigation -->

		
		<div class="container">
			<div id="logo">
				<span class="site-name">
									<a href="http://www.educleta.cl/" class="custom-logo-link" rel="home" itemprop="url"><img width="400" height="200" src="http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu.png" class="custom-logo" alt="" itemprop="logo" srcset="http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu.png 400w, http://www.educleta.cl/wp-content/uploads/2020/02/logo_edu-300x150.png 300w" sizes="(max-width: 400px) 100vw, 400px" /></a>
									</span><!-- end of .site-name -->

							</div><!-- end of #logo -->

						<div id="line"></div>
					</div>

	</header><!-- #masthead -->


	<div id="content" class="site-content">

		<div class="top-section">
					</div>

		<div class="container main-content-area">

									
			<div class="row">
				<div class="main-content-inner col-sm-12 col-md-12 full-width">

  <div id="primary" class="content-area">

	<main id="main" class="site-main" role="main">

		
		

<div class="post-inner-content">
<article id="post-159" class="post-159 page type-page status-publish hentry">
	<header class="entry-header page-header">
		<h1 class="entry-title">Productos y Servicios</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="font-size: 20px;color: #adadad;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Nuestros servicios están diseñados con una metodología participativa activa, los cuales tienen como objetivo el juego como principal protagonista para aprender sobre todos los actores de la movilidad y educación vial.</h2></div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1578320659235 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading" >Al trabajo en Bici</h2><h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Capacitación en seguridad vial y asistencia en ruta de trabajadores que se trasladan en bicicleta desde su casa hasta su espacio laboral.</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="555" height="581" src="http://www.educleta.cl/wp-content/uploads/2020/01/i1.png" class="vc_single_image-img attachment-full" alt="" srcset="http://www.educleta.cl/wp-content/uploads/2020/01/i1.png 555w, http://www.educleta.cl/wp-content/uploads/2020/01/i1-287x300.png 287w" sizes="(max-width: 555px) 100vw, 555px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1578321205860 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="555" height="581" src="http://www.educleta.cl/wp-content/uploads/2020/01/i2.png" class="vc_single_image-img attachment-full" alt="" srcset="http://www.educleta.cl/wp-content/uploads/2020/01/i2.png 555w, http://www.educleta.cl/wp-content/uploads/2020/01/i2-287x300.png 287w" sizes="(max-width: 555px) 100vw, 555px" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading" >Asesorías</h2><h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Potenciamos proyectos de instituciones públicas y privadas a través de un proceso<br />
colaborativo que permite gestionar de mejor manera los recursos.</h2><div class="vc_empty_space"   style="height: 60px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1578321123971 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading" >Capacitaciones</h2><h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Programa educativo que se ajusta a necesidades de instituciones públicas y privadas.</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="555" height="581" src="http://www.educleta.cl/wp-content/uploads/2020/01/i3.png" class="vc_single_image-img attachment-full" alt="" srcset="http://www.educleta.cl/wp-content/uploads/2020/01/i3.png 555w, http://www.educleta.cl/wp-content/uploads/2020/01/i3-287x300.png 287w" sizes="(max-width: 555px) 100vw, 555px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1578321285618 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="555" height="581" src="http://www.educleta.cl/wp-content/uploads/2020/01/i4.png" class="vc_single_image-img attachment-full" alt="" srcset="http://www.educleta.cl/wp-content/uploads/2020/01/i4.png 555w, http://www.educleta.cl/wp-content/uploads/2020/01/i4-287x300.png 287w" sizes="(max-width: 555px) 100vw, 555px" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading" >Talleres de educación cívico-vial</h2><h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Programa de fomento de la movilidad activa, segura e inclusiva asociada al uso de la<br />
bicicleta, dirigido a establecimientos educacionales.</h2><div class="vc_empty_space"   style="height: 60px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1578321139601 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading" >Eventos</h2><h2 style="color: #ffffff;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading" >Jornadas en espacios públicos o privados de acuerdo a las necesidades.</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="555" height="581" src="http://www.educleta.cl/wp-content/uploads/2020/01/i5.png" class="vc_single_image-img attachment-full" alt="" srcset="http://www.educleta.cl/wp-content/uploads/2020/01/i5.png 555w, http://www.educleta.cl/wp-content/uploads/2020/01/i5-287x300.png 287w" sizes="(max-width: 555px) 100vw, 555px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
			</div><!-- .entry-content -->
	</article><!-- #post-## -->
</div>

		
		
	</main><!-- #main -->

  </div><!-- #primary -->

				</div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
			</div><!-- close .row -->
		</div><!-- close .container -->
	</div><!-- close .site-content -->

	<div id="footer-area">
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="site-info container">
				<div class="row">
										<div class="copyright col-md-12">
						<p>EDUCLETA</p>
 						 <p>Contacto: <a href="mailto:educleta@gmail.com">
 educleta@gmail.com</a>.</p>
					</div>
				</div>
			</div><!-- .site-info -->
			<div class="scroll-to-top"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
		</footer><!-- #colophon -->
	</div>
</div><!-- #page -->

		<script type="text/javascript">
			jQuery( document ).ready( function( $ ){
				if ( $( window ).width() >= 767 ){
					$( '.navbar-nav > li.menu-item > a' ).click( function(){
						if( $( this ).attr('target') !== '_blank' ){
							window.location = $( this ).attr( 'href' );
						}else{
							var win = window.open($( this ).attr( 'href' ), '_blank');
							win.focus();
						}
					});
				}
			});
		</script>
	










<link rel='stylesheet' id='db121_socicons-css'  href='http://www.educleta.cl/wp-content/plugins/divi-booster/core/fixes/126-customizer-social-icons/icons.css?ver=2.9.0' type='text/css' media='all' />
<link rel='stylesheet' id='vc_google_fonts_montserratregular700-css'  href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&#038;ver=4.9.18' type='text/css' media='all' />
<script type='text/javascript' src='http://www.educleta.cl/wp-content/themes/activello/assets/js/skip-link-focus-fix.js?ver=20140222'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-content/uploads/wtfdivi/wp_footer.js?ver=1524210557'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-includes/js/wp-embed.min.js?ver=4.9.18'></script>
<script type='text/javascript' src='http://www.educleta.cl/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.5.4'></script>

</body>
</html>
